<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin | Singup</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login">
    <div id="login-top">
        <div id="login-top-sub">
            <a href="index.html"><img src="photos/back.png" alt="back" id="back-img"></a>
            <div id="back"><a href="index.html">Back</a></div>
        </div>
        <hr id="login-hr">
    </div>
    <div id="triple4">
        <div id="circle"></div>
        <div id="circle-text">
            Log in
        </div>
    </div>
    <div id="triple3">
        <div id="pp1">
            <div id="up-signin">Sign in</div>
            <label for="username" style="display: block; margin-right: 240px;">Username</label>
            <input type="text" id="username"><br>
            <label for="password" style="display: block; margin-right: 240px;">Password</label>
            <input type="password" id="password">
            <button type="submit" id="login-button">Sign in</button>
        </div>
        <div id="pp2">
            <hr>
            <div>OR</div>
            <hr>
        </div>
        <div id="pp3">
            <div id="up-signup">Sign up</div>
            <label for="username" style="display: block; margin-right: 240px;">Username</label>
            <input type="text" id="username"><br>
            <label for="password" style="display: block; margin-right: 240px;">Password</label>
            <input type="password" id="password"><br>
            <label for="re-password" style="display: block; margin-right: 188px;">Confirm password</label>
            <input type="password" id="re-password">
            <button type="submit" id="login-button">Sign up</button>
        </div>
    </div>
</body>
</html>
